<div class="new-list-page">
  <nav class="new-list-page__back-link">
    <%= link_to 'Back to lists', @space %>
  </nav>

  <h1 class="new-list-page__title">Create List</h1>

  <div class="new-list-page__form">
    <%= render 'form', list: @list, model: [@space, @list] %>
  </div>
</div>

