.edit-list-page {
  &__back-link {
    margin-bottom: var(--padding-regular);
  }

  &__title {
    margin-bottom: var(--padding-regular);
  }

  &__form {
    margin-bottom: var(--padding-regular);

    @media screen and (min-width: $mobile-threshold-width) {
      max-width: $max-width-form-wide-screen;
    }
  }
}