.edit-token-page {
  &__back-link {
    margin-bottom: var(--padding-regular);
  }

  &__title {
    margin-bottom: var(--padding-regular);
  }

  &__form {
    margin-bottom: var(--padding-regular);
  }
}