.home-page {
  color: var(--color-text-inverse-primary);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--padding-large);
  }

  &__title {
    margin-bottom: var(--padding-medium);
  }
}