.home-page {

  &__header {

    &-container {
      height: 100vh;
      color: var(--color-text-inverse-primary);
    }

    &-art-container {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -10;
    }

    &-art-canvas {
      height: 100%;
      width: 100%;
    }
    
    &-content-container {
      height: 100%;
    }

    &-content-main {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 0 var(--padding-regular) var(--padding-extra-large);
      text-align: center;
    }
  }

  &__title {
    font-size: var(--font-size-h3);
    margin-bottom: var(--padding-tiny);

    @media screen and (min-width: $mobile-threshold-width) {
      margin-bottom: var(--padding-small);
    }

    @media screen and (min-width: $huge-threshold-width) {
      font-size: var(--font-size-h2);
    }
  }

  &__title-number {
    // font-size: 48px;
  }

  &__subtitle {
    @include text-style-subtitle1;
    font-size: 18px;
    color: var(--color-white-alpha70);
    margin-bottom: var(--padding-large);

    @media screen and (min-width: $huge-threshold-width) {
      font-size: var(--font-size-h4);
    }
  }

  &__subtitle-emphasis {
    font-style: italic;
  }

  &__create-space-form {
    margin-bottom: var(--padding-regular);
  }

  &__case-study-anchor {
    text-decoration: none;
    color: var(--color-white-alpha70);

    &:hover {
      text-decoration: underline;
      color: var(--color-white-alpha100);
    }
  }

  &__article {

    &-wrapper {
      display: flex;
      justify-content: center;
      padding: var(--padding-large) 0 var(--padding-extra-large);
    }

    &-content {
      max-width: 700px;

      padding: 0 var(--padding-regular);

      @media screen and (min-width: $mobile-threshold-width) {
        padding: 0 var(--padding-medium);
      }

      h1 {
        margin-bottom: var(--padding-large);
      }

      h2 {
        margin-top: var(--padding-large);
        margin-bottom: var(--padding-medium);
      }

      h3 {
        margin-top: var(--padding-large);
        margin-bottom: var(--padding-regular);
      }

      h4 {
        margin-top: var(--padding-medium);
        margin-bottom: var(--padding-regular);
      }

      p,
      ul {
        color: var(--color-text-secondary);
        font-size: 1.125em;
        margin-bottom: var(--padding-regular);
      }

      strong {
        color: var(--color-text-primary);
      }
    }
    
  }
}