.home-page {

  &__container {
    // width: 100vw;
    // height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding-bottom: var(--padding-large);
  }

  &__header {

    &-container {
      height: 100vh;
      background-color: var(--color-background-inverse);
      color: var(--color-text-inverse-primary);
    }
    
    &-content {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      height: 90%;
    }

    &-read-more-label {
      height: 10%;
      text-align: center;
      color: var(--color-text-inverse-tertiary);
    }
  }

  &__title {
    // margin-bottom: var(--padding-tiny);
  }

  &__subtitle {
    @include text-style-subtitle1;
    color: var(--color-text-inverse-secondary);
    font-style: italic;
    margin-bottom: var(--padding-medium);
  }

  &__description {
    padding: var(--padding-medium) var(--padding-regular);

    h1 {
      margin-bottom: var(--padding-regular);
    }

    h2 {
      margin-bottom: var(--padding-regular);
    }

    p {
      margin-bottom: var(--padding-regular);
    }
  }
}