.list-page {

  &__back-link {
    margin-bottom: var(--padding-regular);
  }

  &__header {
    margin-bottom: var(--padding-large);
  }

  &__title {
    margin-bottom: var(--padding-tiny);
  }

  &__edit-name-pill {
    margin-bottom: var(--padding-small);
  }

  &__token-count {
    color: var(--color-text-secondary);
    margin-bottom: var(--padding-regular);
  }

  &__token-category {
    // border: thin solid gray;
    margin-bottom: var(--padding-large);
  }

  &__token-category-title {
    // border: thin solid gray;
    margin-bottom: var(--padding-regular);
  }

  &__token-category-grid {
    // border: thin solid gray;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--padding-small);
  }

  &__token {

  }

  &__add-token-section {
    margin-bottom: var(--padding-large);
  }

  &__add-token-section-title {
    margin-bottom: var(--padding-small);
  }

  &__add-token-form {
    // margin-bottom: var(--padding-regular);
  }

  @media screen and (min-width: $mobile-threshold-width) {
    &__token-category-grid {
      grid-template-columns: repeat(auto-fit, 288px);
    }

    &__add-token-form {
      max-width: $max-width-form-wide-screen;
    }

    &__actions {
      max-width: $max-width-form-wide-screen;
    }
  }
}