.list-page {

  &__back-link {
    margin-bottom: var(--padding-regular);
  }

  &__header {
    margin-bottom: var(--padding-large);
  }

  &__title {
    margin-bottom: var(--padding-tiny);
  }

  &__description {
    margin-bottom: var(--padding-medium);
  }

  &__edit-name-pill {
    margin-bottom: var(--padding-small);
  }

  &__meta-info {
    margin-bottom: var(--padding-regular);
  }

  &__meta-info-separator {
    color: var(--color-text-tertiary);
    padding: 0 var(--padding-tiny);
  }

  &__meta-info-project-url {
    color: var(--color-text-secondary);
  }

  &__token-count {
    color: var(--color-text-secondary);
  }

  &__token-category {
    margin-bottom: var(--padding-large);

    &-title {
      &_empty {
        color: var(--color-text-tertiary);
      }
    }

    &-count {
      margin-bottom: var(--padding-small);

      &_empty {
        color: var(--color-text-tertiary);
      }
    }

    &-actions {
      margin-bottom: var(--padding-medium);
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: var(--padding-small);
    }
  }

  &__add-token-section {
    margin-bottom: var(--padding-large);
  }

  &__add-token-section-title {
    margin-bottom: var(--padding-small);
  }

  &__add-category-section-title {
    margin-bottom: var(--padding-small);
  }

  @media screen and (min-width: $mobile-threshold-width) {
    &__token-category-grid {
      grid-template-columns: repeat(auto-fit, 288px);
    }

    &__add-token-form {
      max-width: $max-width-form-wide-screen;
    }

    &__add-category-form {
      max-width: $max-width-form-wide-screen;
    }

    &__actions {
      max-width: $max-width-form-wide-screen;
    }
  }
}