.space-page {
  &__header {
    margin-bottom: var(--padding-large);
  }

  &__section {
    margin-bottom: var(--padding-large);
  }

  &__link {
    display: block;
    padding: var(--padding-regular);
    background-color: var(--color-text-secondary);
  }

  &__title {
    
  }

  &__subtitle {
    color: var(--color-text-secondary);
  }

  &__info-label {
    color: var(--color-text-secondary);
  }

  &__info-paragraph {
    color: var(--color-text-secondary);
    margin-bottom: var(--padding-small);
  }

  &__description {
    
  }

  &__no-tokens-text {
    margin-bottom: var(--padding-regular);
  }

  &__list-of-lists {
    list-style: none;
    margin: 0 0 var(--padding-regular);
    padding: 0;
  }

  &__list-item {
    padding: var(--padding-tiny) 0;
  }

  &__list-item-link {
    @include text-style-h6;
    display: inline-block;
    padding: var(--padding-small) 0;
  }

  &__list-card-content {
    display: block;
  }

  &__usage-section {
    max-width: 700px;
  }

  &__usage-section-title {
    margin-bottom: var(--padding-medium);
  }

  @media screen and (min-width: $mobile-threshold-width) {
    &__actions {
      max-width: $max-width-form-wide-screen;
    }
  }
}