<div class="space-page">
  <h2 class="space-page__title">Space</h2>
  <h3 class="space-page__subtitle"><%= @space.slug %></h3>
  <p class="space-page__expiration_label"><%= expiration_string(@space) %></p>

  <% if @space.lists.empty? %>
    <p class="space-page__no-tokens-text">There are no token lists yet. Go ahead and create the first one.</p>
  <% else %>
    <h3>Lists of tokens</h3>
    <ul class="space-page__list-of-lists">
      <% @space.lists.each do |list| %>
        <li class="space-page__list-item">
          <%= link_to list.name, list_path(list), class: 'space-page__list-item-link' %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="actions">
    <%= link_to 'Create list', new_space_list_path(@space), class: 'actions__item' %>
  </div>

</div>