<div class="edit-token-page">
  <nav class="edit-token-page__back-link">
    <%= link_to 'Back to list', @token.list %>
  </nav>

  <h1 class="edit-token-page__title">Edit token</h1>

  <div class="edit-token-page__form">
    <%= render 'form', model: @token, list: @token.list, form_url: token_path(@token) %>
  </div>
</div>
