$mobile-threshold-width: 480px;

$max-width-form-wide-screen: 360px;

@mixin container {
  padding: var(--padding-medium) var(--padding-regular);

  @media screen and (min-width: $mobile-threshold-width) {
    padding: var(--padding-large);
  }
}
