<div class="token-visual-border-radius">
  <div class="token-visual-border-radius__content"
       style="border-radius: <%= token.value %>px;">
    <div class="token-visual-border-radius__box token-visual-border-radius__box_small"></div>
    <div class="token-visual-border-radius__box token-visual-border-radius__box_medium"></div>
    <div class="token-visual-border-radius__box token-visual-border-radius__box_large"></div>
  </div>
</div>
