<div class="token-visual-spacing">
  <div class="token-visual-spacing__content"
       style="gap: <%= token.value %>px; grid-gap: <%= token.value %>px;">
    <% 20.times do %>
      <div class="token-visual-spacing__box"></div>
    <% end %>
  </div>
</div>
