.form {
  &__input {
    display: flex;
    flex-direction: column;
    margin: 0 0 var(--padding-small);

    &:last-of-type {
      margin-bottom: var(--padding-regular);
    }
  }

  &__label {
    @include text-style-subtitle2;
    cursor: pointer;
    margin-bottom: var(--padding-tiny);
  }

  &__field {
    background-color: var(--color-background-input);
    border: 0;
    border-radius: var(--radius-regular);
    // width: 100%;
    height: 48px;
    // font-family: 'Dosis', serif;
    font-size: 1rem;
    padding: var(--padding-small);
  }

  &__submit-button {
    width: 100%;
  }
}