.form {
  &__input {
    display: flex;
    flex-direction: column;
    margin: 0 0 var(--padding-small);

    &:last-of-type {
      margin-bottom: var(--padding-regular);
    }
  }

  &__label {
    @include text-style-subtitle2;
    cursor: pointer;
  }

  &__hint {
    @include text-style-caption;
    color: var(--color-text-secondary);
  }

  &__input-description {
    margin-bottom: var(--padding-small);
  }

  &__field {
    background-color: var(--color-background-input);
    border: 0;
    border-radius: var(--radius-regular);
    height: 48px;
    font-size: 1rem;
    padding: var(--padding-small);

    &_multiline {
      height: 96px;
    }
  }

  &__text-area {

  }

  &__submit-button {
    width: 100%;
  }
}