.token {

  &__content {
    // display: flex;

    &-visual {
      background-color: #E9F9FF;
      height: 96px;
      margin-bottom: var(--padding-small);

      &-box {
        background-color: var(--color-text-tertiary);
      }

      &_font-size {
        background-color: transparent;
        overflow: hidden;
      }

      &_spacing {
        background-color: transparent;
        display: grid;
        grid-template-columns: repeat(auto-fit, 32px);
        grid-template-rows: repeat(auto-fit, 32px);
      }

      
    }
  }

  &__value {
    // margin: 0;
  }

  &__name {
    margin-bottom: var(--padding-small);
  }
}