/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//////////////////////////////////////////////////////////////

:root {

  --default-color: black;
  --default-background-color: white;
  --default-interactive-color: blue;
  --default-interactive-color-inverse: white;

  --local-color-text-primary: var(--color-text-primary, var(--default-color));
  --local-color-text-secondary: var(--color-text-secondary, var(--default-color));
  --local-color-text-tertiary: var(--color-text-tertiary, var(--default-color));
  --local-color-text-inverse-primary: var(--color-text-inverse-primary, var(--default-color));
  --local-color-background-canvas: var(--color-background-canvas, var(--default-background-color));
  --local-color-background-surface: var(--color-background-surface, var(--default-background-color));
  --local-color-background-inverse: var(--color-background-inverse, var(--default-background-color));
  --local-color-interactive-primary: var(--color-interactive-primary, var(--default-interactive-color));
  --local-color-interactive-inverse: var(--color-interactive-inverse, var(--default-interactive-color-inverse));

  --local-font-size-extra-large: calc(var(--font-size-extra-large, 32) * 1px);
  --local-font-size-large: calc(var(--font-size-large, 24) * 1px);
  --local-font-size-medium: calc(var(--font-size-medium, 20) * 1px);
  --local-font-size-regular: calc(var(--font-size-regular, 16) * 1px);
  --local-font-size-small: calc(var(--font-size-small, 14) * 1px);

  --local-spacing-extra-large: calc(var(--spacing-extra-large, 64) * 1px);
  --local-spacing-large: calc(var(--spacing-large, 32) * 1px);
  --local-spacing-medium: calc(var(--spacing-medium, 12) * 1px);
  --local-spacing-regular: calc(var(--spacing-regular, 8) * 1px);
  --local-spacing-small: calc(var(--spacing-small, 4) * 1px);
  --local-spacing-tiny: calc(var(--spacing-tiny, 2) * 1px);

  --local-font-weight-bold: var(--font-weight-bold, 700);
  --local-font-weight-medium: var(--font-weight-medium, 500);

  --font-size-h1: var(--local-font-size-extra-large, 32);

  --page-background: var(--local-color-background-canvas);
  --card-background: var(--local-color-background-surface);

  --grid-gap-regular: var(--local-spacing-regular);

  --padding-extra-large: var(--local-spacing-extra-large);
  --padding-large: var(--local-spacing-large);
  --padding-medium: var(--local-spacing-medium);
  --padding-regular: var(--local-spacing-regular);
  --padding-small: var(--local-spacing-small);
  --padding-tiny: var(--local-spacing-tiny);

  --local-radius-large: calc(var(--radius-large, 16) * 1px);
  --local-radius-medium: calc(var(--radius-medium, 12) * 1px);
  --local-radius-regular: calc(var(--radius-regular, 8) * 1px);

  --button-border-radius: var(--local-radius-medium);
  --card-border-radius: var(--local-radius-large);

  --local-size-extra-large: calc(var(--sizing-extra-large, 72) * 1px);
  --local-size-large: calc(var(--sizing-large, 48) * 1px);

  --footer-background-color: var(--local-color-background-inverse);
}

body {
  background-color: var(--page-background);
  box-sizing: border-box;
  font-family: -apple-system, system-ui, sans-serif;
}

header.page-header {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding-top: var(--padding-large);
}

footer {
  align-items: center;
  justify-content: center;
  display: flex;
  height: var(--local-size-extra-large);
  text-align: center;
  padding: var(--padding-regular);
}

footer {
  background-color: var(--footer-background-color);
  color: var(--local-color-text-inverse-primary);
  padding-bottom: var(--padding-regular);
}

main header {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-medium);
}

main header * {
  margin-bottom: var(--local-spacing-regular);
}

h1 {
  color: var(--local-color-text-primary);
  font-size: var(--font-size-h1);
  font-weight: var(--local-font-weight-bold);
}

ul {
  list-style: none;
  padding: 0;
}

.text-primary {
  color: var(--local-color-text-primary);
  font-size: var(--local-font-size-medium);
  font-weight: var(--local-font-weight-bold);
  margin-bottom: var(--local-spacing-tiny);
}

.text-secondary {
  color: var(--local-color-text-secondary);
  font-size: var(--local-font-size-regular);
  margin-bottom: var(--local-spacing-small);
}

.text-tertiary {
  color: var(--local-color-text-tertiary);
  font-size: var(--local-font-size-small);
}

button {
  border: 0;
  border-radius: var(--button-border-radius);
  background-color: var(--local-color-interactive-primary);
  color: var(--local-color-interactive-inverse);
  cursor: pointer;
  font-size: 0.9rem;
  font-variant-caps: small-caps;
  font-weight: var(--local-font-weight-medium);
  letter-spacing: 0.1em;
  padding: var(--padding-regular) var(--padding-regular);
}

.button-secondary {
  border: thick double var(--local-color-interactive-primary);
  background-color: transparent;
  color: var(--local-color-interactive-primary);
}

.button-secondary:hover {
  background-color: var(--local-color-background-surface);
}

button:hover {
  opacity: 0.90;
}

.superhero-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: var(--grid-gap-regular);
  padding: var(--padding-regular);
}

.superhero-card {
  background-color: var(--card-background);
  border-radius: var(--card-border-radius);
  padding: var(--padding-medium);
}

.token-list-switcher {
  
  background-color: black;
  color: gray;

  &__lists {
    display: flex;
    height: 56px;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
  }

  &__list-item {
    flex-shrink: 0;
    padding: 16px;
    cursor: pointer;

    &:hover {
      color: white;
    }

    &_active {
      color: seashell;
    }
  }
}

.example {
  &__info {
    &-wrapper {
      padding: var(--padding-regular);
    }

    &-content {
      color: var(--local-color-text-primary);
      background-color: var(--card-background);
      border-radius: var(--local-radius-medium);
      padding: var(--padding-medium);
    }

    &-title {
      color: var(--local-color-text-primary);
      font-size: var(--local-font-size-regular);
      font-weight: var(--local-font-weight-bold);
      margin-bottom: var(--local-spacing-regular);
    }

    &-list {
      list-style: inside;
    }

    &-list-item {
      color: var(--local-color-text-secondary);
      line-height: 1.5;

      &-symbol {
        vertical-align: bottom;
      }

      &:not(:last-of-type) {
        // margin-bottom: var(--spacing-small);
      }
    }

    &-semantically-different {
      font-style: italic;
    }

    &-important {
      font-weight: var(--local-font-weight-bold);
    }
  }
}